
.createGraph {
    width: 9em;
    background-color: #5bb999;
    font-size: 2em;
}

.graphDiv {
    display: flex;
    position: sticky;
    justify-content: center;
    align-items: center;
    float: left;
    width: 50%;
}